body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 0;
    border-right:groove;
    background-color: #eee;
    overflow-x: hidden;
    padding-top: 20px;
}

    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 18px;
        color: #818181;
        display: block;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

.fbtitlebar {
    background-color: #3b5998;
    color: white;
    height: 55px;
    margin: 0;
    font-size: 30px;
    display: inline-block;
    line-height: 45px;
}

.Initial {
    display: block;
    padding: 4px 18px 4px 18px;
    float: left;
    background: url("../Images/InitialImage.png") no-repeat right top;
    color: Black;
    font-weight: bold;
}

    .Initial:hover {
        color: White;
        background: url("../Images/SelectedButton.png") no-repeat right top;
    }

.Clicked {
    float: left;
    display: block;
    background: url("../Images/SelectedButton.png") no-repeat right top;
    padding: 4px 18px 4px 18px;
    color: Black;
    font-weight: bold;
    color: White;
}